*{
    margin: 0;
    padding: 0;
}


/* header part css */

body{
    overflow-x: hidden;
}


.header{
    display: flex;
    justify-content: space-around;
    font-family: "Titillium Web", serif;
    font-size: 14px;
    background-color:#f9f6ed;
    flex-wrap: wrap;
    
}

 .header2{
    display: flex;
    justify-content: end;
    padding-right: 155px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: "Titillium Web", serif;
    font-size: 13px;
    background-color:#f9f6ed;
    flex-wrap: wrap;
}

.header2 ul{
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.header .header3 ul{
    display: flex;
    gap: 40px;
    list-style: none;
    padding-top: 10px;
    flex-wrap: wrap;
    
}


.empty-box {
    width: 82%; 
    height: 22px; 
    border: 1px solid rgb(255, 255, 255); 
    background-color: rgb(236, 231, 231); 
    margin-left: 155px;
    margin-top: 20px;
    border-radius: 5px;
}

.empty-box ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: "Titillium Web", serif;
    font-size: 14px;
    flex-wrap: wrap;
   
    
}


.empty-box .offer{
    padding-left: 690px;
}

.form1{
    display: flex;
    padding-left: 400px;
    padding-top: 15px;
    gap: 8px;
    color: #3f4045;
    flex-wrap: wrap;
}



.promo{
    padding-left: 620px;
}


.position{
    position: sticky;
    top: 0;
}

.from{
    font-family: "Titillium Web", serif;
    font-size: 20px;
    color: gray;
    padding-left: 160px;

}

select{
    outline: none;
}
.formmm{
    display: flex;
    flex-wrap: wrap;
    }

.from input , .to input{
    border: none;
    font-size: 30px;
    font-weight:bold;
    width: 90px;
    font-family: "Titillium Web", serif;
    outline: none;
    }

    .from input::placeholder{
        color:#828999 ;
    }

.to input::placeholder{
    color: #828999;
}

    .to input{
        padding-left: 5px;
    }
    

.dropdown{
    display: flex;
    
}

.details{
    width: 60%; 
    height: 45px; 
    border: 1px solid rgb(160, 160, 160); 
    margin-top: 20px;
    margin-left: 28px;
 

}
.details{
    display: flex;
    flex-wrap: wrap;
}

.details .depart{
    width: 75px;
    color: gray;
    font-family: "Titillium Web", serif;
    font-size: 13px;
    padding-left: 3px;
    padding-top: 5px;
}

.details .return{
    color: gray;
    font-family: "Titillium Web", serif;
    font-size: 13px;
    padding-top: 5px;
   
}

.details .passd{
    width: 160px;
    margin-left: 10px;
    padding-top: 6px;
    padding-left: 10px;
    border-left:1px solid #3f4045;
    font-family: "Titillium Web", serif;
    font-size: 13px;
    padding-top: 10px;

}

.details .class{
    width: 173px;
    margin-left: 10px;
    padding-top: 6px;
    padding-left: 10px;
    border-left:1px solid gray;
    font-family: "Titillium Web", serif;
    font-size: 13px;
    padding-top: 10px;
}

.details .pay{
    width: 170px;
    margin-left: 10px;
    padding-top: 6px;
    padding-left: 10px;
    border-left:1px solid gray;
    font-family: "Titillium Web", serif;
    font-size: 13px;
    padding-top: 10px;
    
}

.details .concession{
    width: 180px;
    margin-left: 10px;
    padding-top: 6px;
    padding-left: 10px;
    border-left: 1px solid gray;
    font-family: "Titillium Web", serif;
    font-size: 13px;
    padding-top: 10px;
    
    
}

.button{
    color: white;
    background-color: #f3c1ca;
    margin-left: 20px;
    margin-top: 18px;
    font-family: "Titillium Web", serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 2px;
    border: none;

}

.button:hover{
    background-color: red;
}

.borderr{
    border: none;
}



/* tweet part css */

.tweet{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #edeef2;
    flex-wrap: wrap;
    
}



.post{
    padding-left: 100px;
    padding-top: 50px;
    font-size: 19px;
    font-family: "Titillium Web", serif;
    
    
}

.verify{
    padding-right: 100px;
    padding-top: 30px;
}            

.tweeet{
    display: flex;
    gap: 20px;
    padding-left: 160px;
    padding-top: 50px;
    flex-wrap: wrap;
    
}

.tweeet{
    display: flex;
    justify-content: space-between;

}
.posts{
   display: flex;
   gap: 20px;
   background-color: #edeef2;
   padding-top: 50px;
   padding-bottom: 80px;
   flex-wrap: wrap;
   
}

.post1,.post2,.post3{
    height: 420px;
    width: 380px;
    border: 1px solid;
    border: none;
    background-color: white;
}

.posts .post1{
   margin-left: 200px;
}

.tweet1{
    display: flex; 
    gap: 10px; 
    padding: 8px;
    flex-wrap: wrap;
}

.post1 img,.post2 img,.post3 img{
    padding-left: 30px;
    padding-top: 10px;
}

.x {
    color: rgb(93, 90, 90);
    margin-left: 20px;
    margin-right: 10px;
    font-size: 14px;
    font-family:  "Titillium Web", serif; 
}

.date{
    color: gray;
    padding-left: 25px;
    padding-top: 25px;
    font-family: "Titillium Web", serif;
    font-size: 14px;
}


.prepare{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    background-color:#edeef2;
    padding-bottom: 230px;
    flex-wrap: wrap;
}

.prep h1{
    color: #521352;
    font-family: "Titillium Web", serif;
    font-size: 50px;
    padding-top: 100px;
    padding-left: 70px;
    
}

.prep p{
    position: relative;
    font-family:"Titillium Web", serif ;
    font-size: 17px;
    color:#3f4045;
    bottom: 130px;
    left: 70px;
}

.photos{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.photos .photo1 , .photo2 , .photo3{
    width: 32vh;
    height: 50vh;
   
}

.photo1 img, .photo2 img, .photo3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo2 h1 ,.photo1 h1 , .photo3 h1{
     color:  #ad1f3d;
     font-family:"Titillium Web", serif;
     font-size: 20px;
     padding-left: 22px;
}

.photo2 p,.photo1 p , .photo3 p{
    font-family: "Titillium Web", serif;
    color: #3f4045;
    font-size: 15px;
    position: relative;
    left: 5px;
}

.routes{
    display: flex;
    flex-wrap: wrap;
}


.photu{
    width: 65%;
    height: 80vh;
}

.photu img, .photu2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.photu2{
    width: 35%;
    background-image: url();
    background-size: cover;
    height:80vh ;
    animation: photu 8s infinite alternate;
   
}

@keyframes photu {
    0%{
background-image: url(london-slider-img.jpeg);
    }

    25%{
        background-image: url(San-Francisco\ \(2\).jpeg);
    }

    75%{
background-image: url(dubai-slider-img.jpeg);
    }

    100%{
background-image: url(london-slider-img.jpeg);
    }
}

.photu .upr{
    position: relative;
    bottom: 420px;
    left: 150px;
    color: white;
    font-family: "Titillium Web", serif;
}

.btn button{
    background-color: #da0e29;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    font-family: "Titillium Web", serif;
    position: relative;
    bottom: 20px;

}




.photu2 h1{
    font-family:"Titillium Web", serif ;
    font-size: 40px;
    position: relative;
    top: 400px;
    padding-left: 30px;
    color: white;

}

.photu2 .btn{
    position: relative;
    top: 420px;
    left: 30px;
    background-color: #da0e29;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:"Titillium Web", serif ;
}


.slide{
    margin-top: 15px;
    width: 100%;
    height: 80vh;
    animation: slider 10s infinite alternate ;
    background-size: cover;
   
}

@keyframes slider {
    0%{background-image: url(christmas_banner.jpeg);
       
    }
    20%{
    background-image: url(slider2.jpeg);
    
    }
    40%{
    background-image: url(slider3.jpeg);
    }   

    60%{
        background-image: url(slider4.jpeg);
    }

    80%{
        background-image: url(web-early-bird-sale-hp_Large1x.webp);
    }

    100%{
        background-image: url(christmas_banner.jpeg);
    }

   
}


.slidertext{
    width: 35%;
    height: 60%;
    position: relative;
    left: 160px;
    top: 40px;
}

.slidertext h1{
    color: white;
    font-size: 50px;
    font-family: "Titillium Web", serif  ;
}

.butt{
    background-color: #da0e29;
    color: white;
    border: none;
    font-family: "Titillium Web", serif;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.container {
    width: 100%;
    height: 450px;
    display: flex;
  
  }

  
  .container img {
    filter: grayscale(1);
    width: 20%;
    height: 100%;
    object-fit:cover;
    transition: all ease-in-out 0.3s;
  }
  
  .container img:hover {
    width: 25%;
    filter: grayscale(0);
    }

  .card1{
    width: 100%;
    background-color: #7c1145;
    height: 320px;
  }

  .card1 h1{
    color: white;
    font-size: 40px;
    font-family: "Titillium Web", serif;
    position: relative;
    top: 200px;
    left: 180px;
  }

  .card1 p{
    color: white;
    font-family: "Titillium Web", serif;
    position: relative;
    top: 200px;
    left: 180px;
  }



.footer{
    background-color: #f9f6ed;
    width: 90%;
    padding-left: 150px;
    padding-top: 80px;
   

}

.foot1 , .foot2 ,.foot3 {
    display: flex;
    gap: 200px;
    font-family: "Titillium Web", serif;
    color: #3f4045;
   
}

.foot1 ul ,.foot2 ul,.foot3 ul{
    list-style: none;
}

.fe1{
    color: #531252;
    padding-bottom: 10px;
    font-size: 16px;
}

.foot2 ,.foot3{
    padding-top: 40px;
}

.goo{
    position: relative;
    right: 95px;
    bottom: 5px;
}

.dot{
    height: 1px;
    background-image: linear-gradient(to right, #1e1c1c 3px,transparent 1px);
    background-size: 10px 1px;
    margin-top: 30px;
    margin-right: 120px;
}

.immm{
    display: flex;
    gap: 30px;
    
}

.tata{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

.star{
    display: flex;
    gap: 20px;
    position: relative;
    right: 120px;
   
}

.copyright p{
    display: flex;
    justify-content: center;
   
}

.copy1{
    padding-top: 30px;
    font-size: 13px;
    font-weight: bold;
     font-family: "Titillium Web", serif;
     color: #414348;

}

.copy2{
    padding-bottom: 50px;
    font-family: "Titillium Web", serif;
    color: #414348;
    font-size: 16px;
}

.agent{
   
    bottom: 40px;
    left: 1400px;
    position: fixed;
}

.caard{
    width: 100%;
    padding-top: 300px;
    height: 100px;
    background-image: url(Home-Image.jpg);
    background-size: cover;
}

.flight{
    width: 70%;
    margin-left: 200px;
    padding: 10px;
    position: relative;
    bottom: 250px;
    background-color: rgba(255, 255, 255, 0.5);
   
}

.flight h1{
    color: red;
    font-size: 52px;
    font-family: "Titillium Web", serif;
    padding-left: 70px;
}

.form2 form{
    background-color: white;
    display: flex;
    position: relative;
    bottom: 250px;
    width: 70%;
    margin-left: 200px;
    padding: 10px;
    padding-top: 30px;
}

.formi{
    border-color: red;
    font-family: "Titillium Web", serif ;
    font-size: 17px;
    color: red;
    margin-left: 20px;
}

.form3{
    background-color: white;
    width: 68.8%;
    position: relative;
    bottom: 250px;
    margin-left: 200px;
    padding: 10px;
    font-family: "Titillium Web", serif ;
    display: flex;
    gap: 20px;
    padding-left: 28.3px;
}

.form3 input{
    border: none;
    padding-left: 9px;
    outline: none;
    color: gray;
    
}

.b1{
    border: 1px solid;
    border-color: rgb(236, 229, 229);
    
}

.butto button{
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    background-color: red;
    font-family: "Titillium Web", serif ;
    font-size: 16px;
    border: none;
   
}

.p1{
    position: relative;
    width: 68.8%;
    bottom: 260px;
    font-size: small;
    left: 200px;
    font-family:  "Titillium Web", serif ;
    color: gray;
    padding: 19px;
    background-color: white;

}

.padd{
    font-family:  "Titillium Web", serif ;
    padding-left: 200px;
    padding-top: 30px;
}

.blah{
    font-family:  "Titillium Web", serif ;
    padding-top: 80px;
    padding-left: 200px;
}

.firstt{
    display: flex;
    gap: 30px;
    margin-left: 150PX;
    padding-top: 40px;
}

.firstt .dest{
    width: 20%;
    height: 430px;
    border: 1px solid rgb(240, 237, 237);
}

.dest1{
    width: 274px;
    height: 180px;
}

.i1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dest h1 {
    font-family: "Titillium Web", serif;
    font-size: 18px;
    padding: 3px;
    color: red;
}

 .dest p{
  
    font-family: "Titillium Web", serif;
    font-size: 16px;
    padding: 3px;

 }

.b3{
    padding-left: 25px;
    padding-top: 10px;
}

.b3 button{ 
    background-color: red;
    font-family: "Titillium Web", serif ;
    color:white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;

}

.newww p{
    font-size: 13px;
    padding-left: 140px;
    font-family: "Titillium Web", serif ;
    color: gray;
}

.newww h1{
    color: red;
    font-size: 22px;
    padding-left: 160px;
    font-family: "Titillium Web", serif ;

}

.pneww{
    margin-left: 70px;
    color:#1e1c1c;
}

.unknown{
    padding-top: 50px;
    padding-left: 150px;
    font-family: "Titillium Web", serif ;
    color: gray;
    font-size: 14px;
    padding-bottom: 30px;
}

.view{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.view button{
    background-color: transparent;
    font-family: "Titillium Web", serif ;
    font-size: 17px;
    border: 1px solid red;
    color: red;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    padding-right: 35px;

}

.caard1{
    width: 100%;
    padding-top: 300px;
    height: 100px;
    background-image: url(DWC-Dubai.jpg);
    background-size: cover;
}

.firstt .desttt{
    padding-top: 20px;
    width: 20%;
    height: 230px;
    border: 1px solid rgb(240, 237, 237);
    padding-left:20px ;
}

/* Fourth page css */

.pict{
  padding-top: 40px;
  padding-left: 150px;
}

.det{
    display: flex;
    justify-content: space-around;
    font-family: "Titillium Web", serif ;
    font-size: 12px;
    padding-top: 10px;
    color:#ad1f3d;
}

hr{
    border: 1px solid red;
    width: 85%;
    margin-left: 140px;
}

.sec{
    display: flex;
    padding-left: 150px;
    padding-top: 20px;
    font-family: "Titillium Web", serif ;
    
}

.sec1{
    display: flex;
    gap: 40px;
    
}

.booking{
    background-color: white;
    margin-left: 800px;
    border-color: #efa1b2;
    color: red;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Titillium Web", serif ;
}

.fontt{
    color:#ad1f3d;
    font-size: 13px;
}

.line{
    margin-top: 15px;
    border: 1px solid gray;
}

.datte{
  display: flex;
  padding-left: 150px;
 


}

.datte1{
    width: 150px;
    height: 60px;
    font-family: "Titillium Web", serif ;
    padding-left: 10px;
    font-size: 14px;
    padding-top: 10px;

}

.dattee{
    color: gray;
    padding-left: 20px;
}

.datte2{
    width: 135px;
    height: 60px;
    font-family: "Titillium Web", serif ;
    padding-left: 25px;
    font-size: 14px;
    background-color: #ad1f3d;
    color: white;
    padding-top: 10px;

}

.dattee3{
     padding-left: 20px;
}


.aero{
    background-color: #f7f9f8;  
    width: 100%;
}
.aero h1{
    color: #ad1f3d;
    padding: 40px;
    padding-left: 140px;
    font-family: "Titillium Web", serif  ;
    font-size: 28px;
}

.cont{
    width: 85%;
    background-color: white;
    border: 1px solid rgb(235, 230, 230);
    margin-left: 150px;
    display: flex;
    justify-content: space-between;

}



.hhh{
    display: flex;
}

.cont p{
    padding: 30px;
    font-family: "Titillium Web", serif  ;
    font-size: 17px;
    color: #3f4045;
}

.ticket{
    display: flex;
    align-items: center;
    width: 85.2%;
    height: 150px;
    margin-left: 150px;
    border: 1px solid rgba(185, 181, 181, 0.268);
    background-color: white;
    margin-bottom: 20px;
    
}
.tick1{
    width: 52%;
  

}
.tick2{
    width: 16.2%;
    font-family:  "Titillium Web", serif  ;
    background-color: #feeff2;
    height: 150px;
     
    
}
.tick3{
  background-color: #e1e1e1;
  font-family:  "Titillium Web", serif  ;
  width: 16.2%;
  height: 150px;
}

.uf{
    position: relative;
    left: 20px;
    top: 25px;
    font-size: 18px;
}

.uff{
    position: relative;
    left: 20px;
    top: 60px;
    
}

.tick4{
    background-color: #ebd3e9;
    font-family:  "Titillium Web", serif  ;
    width: 16.2%;
    height: 150px;
}

 



.secc1{
    display: flex;
    justify-content: space-around;
}

.secc1 .fonttt{
    font-size: 15px;
    padding-top: 40px;
    color: #ad1f3d;
}

.secc1 h1{
    font-size: 21px;
    font-family: "Titillium Web", serif;
    padding-top: 35px;
}

.secc1 .fiii{

    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Titillium Web", serif;
}

.colorr{
    background-color: #f7f9f8;
}

.unwanted{
    width: 100%;
    padding: 20px;
    background-color: #f7f9f8;
}

.periperi{
    background-color: #ffbd6e;
    font-family: "Titillium Web", serif;
    font-size: 12px;
    position: relative;
    bottom: 60px;
    left: 95px;
}

.periperii{
    background-color: #ffbd6e;
    font-family: "Titillium Web", serif;
    font-size: 12px;
    position: relative;
    bottom: 32px;
    left: 95px;
}

.secX{
    font-size: 13px;
    position: relative;
    left: 800px;
    bottom: 15px;
    color: #dddfe4;
}

.for,.for2{
    display: flex;
    gap: 30PX;
    color: #dddfe4;
    margin: 20px;
    
    
}

.for input ,.for select{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
   
}

.for2 input ,.for2 select{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:gray  ;
}

.form{
    width: 80%;
    padding-left: 150px;
    padding-top: 40px;
    border-color: rgb(145, 23, 23);
    font-family: "Titillium Web", serif;
}

.form h1{
    padding-left: 40px;
    padding-top: 30px;
    font-size: 30px;
}

.contiii{
    width: 82%;
    background-color: white;
    border: 1px solid rgb(235, 230, 230);
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    font-family: "Titillium Web", serif;
    padding: 20px;
    margin-top: 30px;
    
}